{% extends 'base-quote.html' %}
{% load static %}

{% block page_content %}


    <!-- Quote Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">Заявете оферта</h5>
                        <h1 class="mb-0">Нуждаете се от безплатна оферта? Моля, свържете се с нас</h1>
                    </div>
                    <div class="row gx-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Отговор в рамките на 24 часа</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>Телефонна поддръжка 24 часа</h5>
                        </div>
                    </div>
                    <p class="mb-4">Можете да се свържете с нас за всякакви въпроси, свързани с уеб дизайн, издаване на книги и други проекти. Ние ще се радваме да обсъдим вашите идеи и да ви предложим решение.</p>
                    <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Обадете се, за да зададете въпрос</h5>
                            <h4 class="text-primary mb-0">+359 898 79 14 27</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
                        <form method="POST" action="{% url 'quote' %}">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-xl-12">
                                    <input type="text" name="name" class="form-control bg-light border-0" placeholder="Вашето име" style="height: 55px;" required>
                                </div>
                                <div class="col-12">
                                    <input type="email" name="email" class="form-control bg-light border-0" placeholder="Вашият имейл" style="height: 55px;" required>
                                </div>
                                <div class="col-12">
                                    <select name="service" class="form-select bg-light border-0" style="height: 55px;" required>
                                        <option selected>Изберете услуга</option>
                                        <option value="web_design">Уеб дизайн</option>
                                        <option value="book_publishing">Издаване на книги</option>
                                        <option value="project_consulting">Консултации за проекти</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control bg-light border-0" rows="3" placeholder="Вашето съобщение" required></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Заявете оферта</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Quote End -->



    {% endblock %}